<div class="form-body">
    <div class="form-group">
        <label>Master Code</label>
        @Html.TextBox("x1", "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Master Type</label>
        @Html.TextBox("x2", "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Name (Thai)</label>
        @Html.TextBox("x3", "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Name (English)</label>
        @Html.TextBox("x4", "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Status</label>
        @Html.TextBox("x5", "", new { @class = "form-control" })
    </div>
</div>

