@using NCLS.WEB.Utility
@model List<NCLS.WEB.Entities.SP_SEARCH_ASSIGN_REPO_GEN_Result>

@{
    Common cm = new Common();
}

@foreach (var m in Model)
{
    <tr>
        <td><input type="checkbox" id="" class="" /></td>
        <td>@m.JOB_CONTRACT_NO</td>
        <td>@m.JOB_CARD_NO</td>
        <td style="text-align: left">@m.JOB_CUST_NAME</td>
        <td style="text-align: left">@m.NAME_OA_CODE</td>
        @*      <td style="text-align: left">@m.NAME_OA_SUCCESS</td>*@
        <td style="text-align: right">@String.Format("{0:#,##0.00}", m.TOTAL_OS_BALANCE)</td>
        <td style="text-align: left">@cm.DateDisplay(m.JOB_ASSIGN_OA_DATE)</td>
        <td style="text-align: left">@m.PROVINCE_NAME</td>
        <td style="text-align: left">@cm.GetDocStatus(m.JOB_GEN_FLAG)</td>
    </tr>
}
